.content-container {
  max-width: 600px;
  margin: 2.5rem auto;
  background: #8fc1e2;
  border-radius: 5px;
  padding: 1.5rem;

  .greetings {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    border-bottom: 1px solid #111111;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .to-do-list {
    display: flex;
    flex-direction: column;

    .to-do-item {
      font-size: 1rem;
      display: flex;
      align-items: center;
      column-gap: 8px;

      .to-do-delete-item {
        vertical-align: bottom;
        display: flex;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      input[type='checkbox'] {
        appearance: none;
        font: inherit;
        color: #111111;
        width: 16px;
        height: 16px;
        border: 1px solid #111111;
        border-radius: 2px;
        transform: translateY(-0.075em);
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          content: '';
          width: 10px;
          height: 10px;
          background: #111111;
          display: none;
        }

        &:checked::before {
          display: block;
        }
      }

      &.new-item {
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #111111;
        float: none;
        width: fit-content;
        min-width: 300px;

        input {
          background: transparent;
          border: none;
          color: #000;
          outline: none;
          font-size: 1rem;
          min-width: fit-content;

          &::placeholder {
            color: #000;
          }
        }

        button {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
