@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'; /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
a,
input[type=button] {
  box-shadow: none;
  border: none;
  background: none;
  cursor: pointer;
}
button:disabled,
a:disabled,
input[type=button]:disabled {
  cursor: default;
}

.navbar {
  display: flex;
  padding: 1.5rem;
  background: #afbbe3;
}
.navbar span {
  font-size: 1.5rem;
  font-weight: 400;
}

.content-container {
  max-width: 600px;
  margin: 2.5rem auto;
  background: #8fc1e2;
  border-radius: 5px;
  padding: 1.5rem;
}
.content-container .greetings {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  border-bottom: 1px solid #111111;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
.content-container .to-do-list {
  display: flex;
  flex-direction: column;
}
.content-container .to-do-list .to-do-item {
  font-size: 1rem;
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.content-container .to-do-list .to-do-item.selected span {
  text-decoration: line-through;
}
.content-container .to-do-list .to-do-item .to-do-delete-item {
  vertical-align: bottom;
  display: flex;
}
.content-container .to-do-list .to-do-item:not(:last-child) {
  margin-bottom: 10px;
}
.content-container .to-do-list .to-do-item input[type=checkbox] {
  appearance: none;
  font: inherit;
  color: #111111;
  width: 16px;
  height: 16px;
  border: 1px solid #111111;
  border-radius: 2px;
  transform: translateY(-0.075em);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container .to-do-list .to-do-item input[type=checkbox]::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #111111;
  display: none;
}
.content-container .to-do-list .to-do-item input[type=checkbox]:checked::before {
  display: block;
}
.content-container .to-do-list .to-do-item.new-item {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #111111;
  float: none;
  width: fit-content;
  min-width: 300px;
}
.content-container .to-do-list .to-do-item.new-item input {
  background: transparent;
  border: none;
  color: #000;
  outline: none;
  font-size: 1rem;
  min-width: fit-content;
}
.content-container .to-do-list .to-do-item.new-item input::placeholder {
  color: #000;
}
.content-container .to-do-list .to-do-item.new-item button {
  display: flex;
  justify-content: center;
  align-items: center;
}

html {
  font-family: "Roboto", sans-serif;
}
